# General
.DS_Store
Thumbs.db
*.swp

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# IDE - JetBrains
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea_modules/

# Node
node_modules/
npm-debug.log
yarn-error.log
.env

# Build files
build/
dist/
*.zip
